<table id="sorttable" class="table table-small table-hover display">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="align-text-top sort-column">#</th>
      <th scope="col" class="align-text-top">DCNC Code<br><small>(For CTT)</small></th>
      <th scope="col" class="align-text-top col-2">Description</th>
      <th scope="col" class="align-text-top">MCATagSymbol Value<br><small>(For DCP Metadata)</small></th>
      <th scope="col" class="align-text-top">MainSoundConfiguration Tag<br><small>(For DCP Metadata)</small></th>
      <th scope="col" class="align-text-top col-4">CompositionMetadataAsset Extension<br><small>(For DCP Metadata)</small></th>
      <th scope="col" class="align-text-top col-2">Metadata Defining Document(s)</th>
      <th scope="col" class="align-text-top col-2">Notes</th>
    </tr>
  </thead>
  <tbody id="searchTable">
    <% data.forEach(function (entry) { %>
      <% var cm = entry.cplMetadata || {}; var ext = cm.extension; %>
      <tr id="<%= idType %>-<%= entry.dcncCode %>">
        <td class="sort-column"><%= entry.dcncSortOrder %></td>
        <td class="code">
          <a class="anchor" id="<%= entry.dcncCode %>" href="#<%= entry.dcncCode %>"></a><code><%= entry.dcncCode %></code>
        </td>
        <td><%= entry.description %></td>
        <td><code><%= cm.MCATagSymbol %></code></td>
        <td><code><%= cm.MainSoundConfigurationTag %></code></td>
        <td class="cell-breakAll">
          <% if (ext) { %>
            <code class="sampCode">
              &lt;cpl-meta:ExtensionMetadata scope="<code><%= ext.extScope %></code>"&gt;<br>
              &nbsp;&nbsp;&lt;cpl-meta:Name&gt;<code><%= ext.extName %></code>&lt;/cpl-meta:Name&gt;<br>
              &nbsp;&nbsp;&lt;cpl-meta:PropertyList&gt;<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&lt;cpl-meta:Property&gt;<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;cpl-meta:Name&gt;<code><%= ext.extpropName %></code>&lt;/cpl-meta:Name&gt;<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;cpl-meta:Value&gt;<code><%= ext.extpropValue %></code>&lt;/cpl-meta:Value&gt;<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&lt;/cpl-meta:Property&gt;<br>
              &nbsp;&nbsp;&lt;/cpl-meta:PropertyList&gt;<br>
              &lt;/cpl-meta:ExtensionMetadata&gt;
            </code>
          <% } %>
        </td>
        <td>
          <% (cm.definingDocs || []).forEach(function (doc, i, arr) { %>
            <a href="<%= doc.url %>" target="_blank">[<%= doc.name %>]</a><% if (i < arr.length - 1) { %><br><% } %>
          <% }) %>
        </td>
        <td><span class="small"><em><%= entry.note %></em></span></td>
      </tr>
    <% }) %>
  </tbody>
</table>
