<table id="sorttable" class="table table-small table-hover table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="align-text-top"><a target="_blank" href="http://cldr.unicode.org/">CLDR</a> / <a target="_blank" href="https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry">IANA</a> Language</th>
      <th scope="col" class="align-text-top"><a target="_blank" href="https://tools.ietf.org/html/rfc5646">RFC 5646</a> Tag<br><small>(For DCP Metadata)</small></th>
      <th scope="col" class="align-text-top">DCNC Code<br><small>(For CTT)</small></th>
      <th scope="col" class="align-text-top">DCNC Language</th>
      <th scope="col" class="align-text-top">Obsoleted DCNC Code(s)<br><small>(Not for use, only listed for historical purposes)</small></th>
      <th scope="col" class="align-text-top">Usage</th>
      <th scope="col" class="align-text-top text-wrap">Notes</th>
    </tr>
  </thead>
  <tbody id="searchTable">
    <% data.forEach(function (entry) { %>
      <tr id="<%= idType %>-<%= entry.rfc5646Tag %>">
        <td><span class="description"><%= entry.displayName %></span></td>
        <td class="rfc">
          <a class="anchor" id="<%= entry.rfc5646Tag %>" href="#<%= entry.rfc5646Tag %>"></a><code><%= entry.rfc5646Tag %></code>
        </td>
        <td class="code">
          <% if (entry.dcncTag) { %>
            <code><%= entry.dcncTag %></code>
          <% } else { %>
            <em>n/a</em>
          <% } %>
        </td>
        <td>
          <% if (entry.dcncLanguage) { %>
            <%= entry.dcncLanguage %>
          <% } else { %>
            <em>n/a</em>
          <% } %>
        </td>
        <td class="code">
          <% if (entry.obsoleteDCNCTags) { %>
            <% entry.obsoleteDCNCTags.forEach(function (t, i, arr) { %>
              <code><%= t %></code><% if (i < arr.length - 1) { %>, <% } %>
            <% }) %>
          <% } %>
        </td>
        <td class="use">
          <% (entry.use || []).forEach(function (u) { %>
            <p class="text-bg-secondary badge"><%= u %></p>
          <% }) %>
        </td>
        <td class="comment">
          <% (entry.comments || []).forEach(function (c) { %>
            <small><em><%= c %></em></small>
          <% }) %>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
