<table id="sorttable" class="table table-small table-hover display">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="align-text-top">Region</th>
      <th scope="col" class="align-text-top">DCNC Code<br><small>(For CTT)</small></th>
      <th scope="col" class="align-text-top">Rating Label Value<br><small>(For DCP Metadata)</small></th>
      <th scope="col" class="align-text-top col-4">Rating Agency Value<br><small>(For DCP Metadata)</small></th>
      <th scope="col" class="align-text-top">Rating Agency</th>
      <th scope="col" class="align-text-top">Usage</th>
      <th scope="col" class="align-text-top">Reference</th>
    </tr>
  </thead>
  <tbody id="searchTable">
    <% data.forEach(function (entry) { %>
      <% var agency = entry.agency || {}; var region = entry.region || {}; %>
      <tr id="<%= idType %>-<%= strip(agency.identifier) %>-<%= strip(region.code) %>">
        <td><%= region.name %> (<%= region.code %>)</td>
        <td>
          <% (entry.ratingsdcnc || []).forEach(function (r, i, arr) { %>
            <div class="<%= i < arr.length - 1 ? 'border-bottom ' : '' %>p-2"><code><%= r %></code></div>
          <% }) %>
        </td>
        <td>
          <% (entry.ratings || []).forEach(function (r, i, arr) { %>
            <div class="<%= i < arr.length - 1 ? 'border-bottom ' : '' %>p-2"><code><%= r %></code></div>
          <% }) %>
        </td>
        <td class="cell-breakAll"><code><%= agency.identifier %></code></td>
        <td><%= agency.system %></td>
        <td class="use">
          <% (entry.use || []).forEach(function (u) { %>
            <span class="text-bg-secondary badge"><%= u %></span>
          <% }) %>
        </td>
        <td><a href="<%= (entry.reference||{}).url %>" target="_blank"><%= (entry.reference||{}).description %></a></td>
      </tr>
    <% }) %>
  </tbody>
</table>
