<table id="sorttable" class="table table-small table-hover display">
  <thead id="tableheader" class="thead-light">
    <tr>
      <th scope="col" class="align-text-top">Territory<br><small>(Country/Region)</small></th>
      <th scope="col" class="align-text-top">DCNC Code<br><small>(For CTT)</small></th>
      <th scope="col" class="align-text-top">ReleaseTerritory Tag<br><small>(For DCP Metadata)</small></th>
      <th scope="col" class="align-text-top">Tag Scope<br><small>(For DCP Metadata)</small></th>
      <th scope="col" class="align-text-top text-wrap col-2">Notes</th>
    </tr>
  </thead>
  <tbody id="searchTable">
    <% data.forEach(function (entry) { %>
      <tr id="<%= idType %>-<%= entry.tag %>">
        <td><span class="description"><%= entry.dcncTerritory %></span></td>
        <td class="code">
          <% if (entry.dcncTag) { %>
            <code><%= entry.dcncTag %></code>
          <% } else { %>
            <em>n/a</em>
          <% } %>
        </td>
        <td class="rfc">
          <a class="anchor" id="<%= entry.tag %>" href="#<%= entry.tag %>"></a><code><%= entry.tag %></code>
        </td>
        <td class="cell-breakAll">
          <% if (entry.tagScope) { %>
            <a target="_blank" href="<%= entry.tagScope %>"><code><%= entry.tagScope %></code></a>
          <% } %>
        </td>
        <td class="comment">
          <% (entry.comments || []).forEach(function (c) { %>
            <small><em><%= c %></em></small>
          <% }) %>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
