<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <main class="site-main<%= page.isRegistry ? ' site-main--registry' : '' %>">
    <div class="container<%= page.isRegistry ? ' container--wide' : '' %>">
      <%- body %>
    </div>
  </main>
  <%- partial('_partial/footer') %>
</body>
</html>
