<article class="post post--full">
  <header class="text-center mb-3">
    <h1 class="display-5 fw-bold"><%= page.title || '(untitled)' %></h1>
  </header>
  <div class="row">
    <div class="col-md-6 post__content">
      <%- page.content %>
    </div>
    <% if (page.links && page.links.length) { %>
      <div class="col-md-6 mt-3">
        <ul class="list-unstyled">
          <% page.links.forEach(function (link) { %>
            <li class="mb-3">
              <a class="fs-5 fw-semibold text-decoration-none" href="<%- url_for(link.url) %>"><%= link.title %> <span aria-hidden="true">&rarr;</span></a>
              <% if (link.description) { %>
                <div class="text-muted"><%= link.description %></div>
              <% } %>
            </li>
          <% }) %>
        </ul>
      </div>
    <% } %>
  </div>
</article>

<% var recent = site.posts.sort('-date').limit(5); %>
<% if (recent.length) { %>
  <section>
    <h2 class="section-title">Recent Posts</h2>
    <div class="post-list">
      <% recent.each(function(post){ %>
        <%- partial('_partial/article', {post: post, index: true}) %>
      <% }) %>
    </div>
  </section>
<% } %>
