<table id="sorttable" class="table table-small table-hover display">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="align-text-top">Term</th>
      <th scope="col" class="align-text-top">Abbreviation(s)</th>
      <th scope="col" class="align-text-top">Symbol(s)</th>
      <th scope="col" class="align-text-top col-5">Definition</th>
      <th scope="col" class="align-text-top">Related Term(s)</th>
    </tr>
  </thead>
  <tbody id="searchTable">
    <% data.forEach(function (entry) { %>
      <tr id="<%= idType %>-<%= strip(entry.term) %><%= entry.termContext ? strip(entry.termContext) : '' %>">
        <td>
          <code><%= entry.term %></code><% if (entry.termContext) { %> (<%= entry.termContext %>)<% } %>
        </td>
        <td>
          <% (entry.abbreviations || []).forEach(function (a, i, arr) { %>
            <%= a %><% if (i < arr.length - 1) { %>,<br><% } %>
          <% }) %>
        </td>
        <td>
          <% (entry.symbols || []).forEach(function (sym, i, arr) { %>
            <code class="sampCode"><%= sym %></code><% if (i < arr.length - 1) { %><br><% } %>
          <% }) %>
        </td>
        <td>
          <% if (entry.definition) { %>
            <p><%= entry.definition %></p>
          <% } %>
          <% if (entry.media) { %>
            <% if (entry.media.image) { %>
              <div class="p-2">
                <% entry.media.image.forEach(function (img, i, arr) { %>
                  <img src="<%= img %>" class="img-fluid"><% if (i < arr.length - 1) { %><br><% } %>
                <% }) %>
              </div>
            <% } %>
            <% if (entry.media.video) { %>
              <div class="ratio ratio-16x9">
                <% entry.media.video.forEach(function (vid, i, arr) { %>
                  <iframe src="<%= vid %>" allowfullscreen></iframe><% if (i < arr.length - 1) { %><br><% } %>
                <% }) %>
              </div>
            <% } %>
          <% } %>
          <% if (entry.synonyms) { %>
            <div class="border-top p-2">
              AKA: <% entry.synonyms.forEach(function (syn, i, arr) { %><%= syn %><% if (i < arr.length - 1) { %>, <% } %><% }) %>
            </div>
          <% } %>
          <% if (entry.sources) { %>
            <div class="border-top p-2">
              Source(s):
              <% entry.sources.forEach(function (src, i, arr) { %>
                <br>[<a href="<%= src %>"><span class="text-break"><%= src %></span></a>]<% if (i < arr.length - 1) { %>,<% } %>
              <% }) %>
            </div>
          <% } %>
        </td>
        <td>
          <% (entry.relatedTerms || []).forEach(function (rt, i, arr) { %>
            <a href="#term-<%= strip(rt) %>"><%= rt %></a><% if (i < arr.length - 1) { %>,<br><% } %>
          <% }) %>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
